button.input_button{
  border-radius: 99999999px;
  font-weight: bold;

  margin: 1em 0;

  padding: 0.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

button.input_button:disabled{
  cursor: not-allowed;
}

button.condensed{
  padding: 0.4rem
}


button.cta_button{
  padding: 0.8rem 1.2rem;
  min-width: 200px;
  background-color: var(--cta-color);
  color: var(--cta-font-color);
}

button.cta_button:hover{
  background-color: var(--cta-color);
  color: var(--cta-font-color);
}

button.cta_button:disabled{
  opacity: 0.7;
}

.outline_button{
  padding: 0.8rem 1.2rem;
  min-width: 200px;
  background-color: var(--bg-primary-color);
  color:var(--font-secondary-color);
  border: 2px solid var(--font-secondary-color);
}

.input_button+a .input_button, .input_button+.input_button{
  margin-left: 1em;
}

@media only screen and (max-width: calc( 520px )) {
  .input_button+a .input_button{
    margin-left: 0;
  }

  .input_button,a>.input_button{
    width: 100%;
  }
}

/* Button Group CSS */
.button_group{
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

button.FAB{
  width: 42px;
  height: 42px;
  border-radius: 500px ;
  
  /*  */
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

