.ErrorContainer{
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  padding: 0 4rem;
  padding-top: 4rem;

  position: absolute;
  top:0;

  z-index: 1;
  background: var(--bg-primary-color);
  width: 100%;

}

.error_status,.error_heading,.error_message,.error_message_stack,.error_page_header{
  margin: 0.5rem 0;
}

.error_page_header{
  font-size: 1.4rem;
}

.error_heading{
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 1rem;
}

.error_status{
  font-size: 3rem;
  margin: 1rem 0;
}

.error_message_stack{
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  background-color: var(--bg-secondary-color);
  border-radius: 4px;
}
