.session_card{
  width: 100%;
  max-width: 720px;

  padding: 0.8rem;
  margin-bottom: 0.4rem;

  background-color: var(--bg-secondary-color);
  border-radius: 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.session_card div{
  display: flex;
  flex-direction: row;
}

.course_id,.session_id, .course_name,.term{
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  border-radius: 4px;
  /* background-color: red; */
}


.course_name{
  /* min-width: 50%; */
}

