.input{
  padding: 1rem 1.4rem;
  font-size: 0.9rem;
  border-radius: 8px;
  box-sizing: border-box;
  /* outline: none; */
  background-color: var(--bg-secondary-color);
}

.input:focus{
  outline-offset: 6px;
  outline-color: var(--focus-color);
}

.input.error:focus{
  outline-color: var(--font-primary-color);
}

.input.error, textarea.input.error{
  border: 2px solid var(--error-color);
}

.input.outlined{
  border: 2px solid red
}

.input:disabled{
  cursor: not-allowed;
  /* background-color: var(--bg-primary-color); */
  opacity: 0.8;
}

textarea.input{
  padding: 1rem 1.4rem;
  min-height: 160px;
  border:none;
  resize:none;
}
