.input_label{
  font-size: 0.8rem;
  margin: 0.6rem 0;
  /* text-transform: uppercase; */
  /* font-weight: bold; */
  color: var(--font-primary-color);
}

.input_label.error,.input_label.helper.error{
  color: var(--error-color);
  font-weight: bold;
}

.input_label.helper{
  margin-bottom: 0;
  color: var(--font-secondary-color)
}
